.productbox {
    /* background-color: #16da7e; */
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 16px;
    padding: 9px 20px;
    /* border: 2px solid red; */
}
.cards {
    background-color: var(--color2);
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.cards.hide{
    display: none;
}
.imagebox{
    background-color:var(--color2);
    height: 200px;
    width: 100%;
    padding:10px;
    display: flex;
    justify-content: center;
}
.imagebox img{
    border-radius: 3px;
    box-shadow: 2.5px 2.5px 1px rgba(0, 0, 0, 0.249);
}
.cards .details{
    /* background-color: #a4a4a4; */
    height: 100%;
    width: 100%;
    
}
.cards .details ul{
    /* background-color: antiquewhite; */
    width: 90%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-self: center;
    color: var(--color3);
}
.cards .details ul li{
    /* background-color: #a4a4a4; */
    list-style: none;
    font-size: 14px;
    font-weight: 300;
    height: 20px;
    padding-left: 5px;
}
.cards .details ul li:nth-child(1){
    /* background-color: #ECF2FF; */
    font-weight: 500;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.cards .details ul li:nth-child(2){
    color: var(--color4);
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.cards .details ul li:nth-child(3){
    color: #16da7e;
    font-weight: 400;
}
.cards .details ul li:nth-child(4){
    font-weight: 600;
}





@media screen and (min-width:560px) and (max-width:700px) {
    .productbox{
        /* background-color: #90bea8; */
        grid-template-columns: repeat(3,minmax(auto,1fr));
    }
}

@media screen and (max-width:1920px){
     .logobox img{
        height: 37px;
    }
        /* .productbox{
        display: grid;
        grid-template-columns: repeat(8, minmax(clamp(150px, 25%, 200px), 1fr));
    } */
}
@media screen and (max-width:1536px){
      /* .productbox{
        display: grid;
        grid-template-columns: repeat(7, minmax(clamp(150px, 25%, 200px), 1fr));
    } */
     .logobox img{
        height: 35px;
    }
}


@media screen and (max-width:456px){
   .productbox{
        display: grid;
        padding:0px 14px ;
        gap: 13px;
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }
    .cards{
        height: 277px;
    }
    .cards .details ul{
        height: 85px;
    }
    .cards .details ul li{
        font-size: 13px;
        /* background-color: #454545; */
        height: 19px;
    }
    .imagebox{
        height: 185px ;
    }
}