@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: poppins;
}
:root{
    --color1:#ECF2FF;
    --color2:#ffffff;
    --color3:#454545;
    --color4:#a4a4a4;
}
::-webkit-scrollbar{
    display: none;
}
body{
    background-color: var(--color1);
    user-select: none;
}
section{
    /* background-color:var(--color3); */
    min-height: 100vh;
    width: 100%;
}
.container{
    max-width: 93%;
}


/* HTML: <div class="loader"></div> */
.loader {
        transform: rotateZ(45deg);
        perspective: 1000px;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        color: #454545;
      }
        .loader:before,
        .loader:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: inherit;
          height: inherit;
          border-radius: 50%;
          transform: rotateX(70deg);
          animation: 1s spin linear infinite;
        }
        .loader:after {
          color: #454545;
          transform: rotateY(70deg);
          animation-delay: .4s;
        }

      @keyframes rotate {
        0% {
          transform: translate(-50%, -50%) rotateZ(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotateZ(360deg);
        }
      }

      @keyframes rotateccw {
        0% {
          transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotate(-360deg);
        }
      }

      @keyframes spin {
        0%,
        100% {
          box-shadow: .2em 0px 0 0px currentcolor;
        }
        12% {
          box-shadow: .2em .2em 0 0 currentcolor;
        }
        25% {
          box-shadow: 0 .2em 0 0px currentcolor;
        }
        37% {
          box-shadow: -.2em .2em 0 0 currentcolor;
        }
        50% {
          box-shadow: -.2em 0 0 0 currentcolor;
        }
        62% {
          box-shadow: -.2em -.2em 0 0 currentcolor;
        }
        75% {
          box-shadow: 0px -.2em 0 0 currentcolor;
        }
        87% {
          box-shadow: .2em -.2em 0 0 currentcolor;
        }
      }

      /* error loader */
        .errorloader {
        width: 160px;
        height: 185px;
        position: relative;
        background: #fff;
        border-radius: 100px 100px 0 0;
        }
        .errorloader:after {
        content: "";
        position: absolute;
        width: 100px;
        height: 125px;
        left: 50%;
        top: 25px;
        transform: translateX(-50%);
        background-image: radial-gradient(circle, #000 48%, transparent 55%),
            radial-gradient(circle, #000 48%, transparent 55%),
            radial-gradient(circle, #fff 30%, transparent 45%),
            radial-gradient(circle, #000 48%, transparent 51%),
            linear-gradient(#000 20px, transparent 0),
            linear-gradient(#cfecf9 60px, transparent 0),
            radial-gradient(circle, #cfecf9 50%, transparent 51%),
            radial-gradient(circle, #cfecf9 50%, transparent 51%);
        background-repeat: no-repeat;
        background-size: 16px 16px, 16px 16px, 10px 10px, 42px 42px, 12px 3px,
            50px 25px, 70px 70px, 70px 70px;
        background-position: 25px 10px, 55px 10px, 36px 44px, 50% 30px, 50% 85px,
            50% 50px, 50% 22px, 50% 45px;
        animation: faceLift 3s linear infinite alternate;
        }
        .errorloader:before {
        content: "";
        position: absolute;
        width: 140%;
        height: 125px;
        left: -20%;
        top: 0;
        background-image: radial-gradient(circle, #fff 48%, transparent 50%),
            radial-gradient(circle, #fff 48%, transparent 50%);
        background-repeat: no-repeat;
        background-size: 65px 65px;
        background-position: 0px 12px, 145px 12px;
        animation: earLift 3s linear infinite alternate;
        }

        @keyframes faceLift {
        0% {
            transform: translateX(-60%);
        }
        100% {
            transform: translateX(-30%);
        }
        }
        @keyframes earLift {
        0% {
            transform: translateX(10px);
        }
        100% {
            transform: translateX(0px);
        }
        }
  