.Signbox{
    display: flex;
    background-color: var(--color2);
    height: 260px;
    width: 300px;
    justify-self: center;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.Signbox ul{
    /* background-color: aquamarine; */
    height: 98%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    list-style: none;
    gap: 2%;
}
.Signbox ul li{
    /* background-color: bisque; */
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--color3);

}
.Signbox label{
    /* background-color: aqua; */
    margin-left: 10px;
    font-weight: 500;

}
.buton{
    background-color: var(--color3);
    border: none;
    color: var(--color2);
    height: 35px;
    width: 100px;
    margin: 0 auto;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
}
.Signbox ul li input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--color1);
    padding: 0 10px;
    border-radius: 5px;
    color: var(--color3);
}
.hide{
    display: none;
    /* background-color: aqua; */
}
.alert{
    background-color:#ff75756b;
}



.InputBox{
    display: none;
    background-color: var(--color2);
    height: 70vh;
    width: 60%;
    justify-self: center;
    margin-top: 5%;
    padding: 1.6%;
    gap: 1.6%;
    border-radius: 5px;
}
.show{
    display: flex;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: start;
    /* background-color: aqua; */
    width: 50%;
    height: 100%;
    border-radius: 5px;
    /* border: 3px solid var(--color1); */
}
.box2{
    display: flex;
    flex-direction: column;
    gap: 15%;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
    width: 50%;
    height: 100%;
    border-radius: 5px;
    /* border: 3px solid var(--color1); */
}

.box1 ul{
    /* background-color: rgb(33, 148, 148); */
    padding: 2%;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    list-style: none;
    font-size: 15px;
    color: var(--color3);
}
.box1 ul li{
    display: flex;
    align-items: center;
    /* background-color: bisque; */
    height: 40px;
    width: 80%;
    
}
.box1 ul li input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--color1);
    border-radius: 5px;
    padding:10px;
}
/* .box1 ul li:nth-child(2) input{
   padding: 0px;
   background-color: #16da7e;

} */
  /* .box1 ul li input[type="file"]::file-selector-button {
    background-color: var(--color3);
    border: none;
    color: white;
    padding: 8px;
    height: 100%;
    width: 50%;
    margin-right: 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
  } */




   .cards {
    background-color: var(--color2);
    height: 300px;
    width: 210px;
    border-radius: 10px;
    overflow: hidden;
}

.imagebox{
    background-color:var(--color2);
    height: 200px;
    width: 100%;
    padding:10px;
    display: flex;
    justify-content: center;
}
.imagebox img{
    border-radius: 3px;
    box-shadow: 2.5px 2.5px 1px rgba(0, 0, 0, 0.249);
}
.cards .details{
    /* background-color: #a4a4a4; */
    height: 100%;
    width: 100%;
    
}
.cards .details ul{
    /* background-color: antiquewhite; */
    width: 90%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-self: center;
    color: var(--color3);
}
.cards .details ul li{
    /* background-color: #a4a4a4; */
    list-style: none;
    font-size: 14px;
    font-weight: 300;
    height: 20px;
    padding-left: 5px;
}
.cards .details ul li:nth-child(1){
    /* background-color: #ECF2FF; */
    font-weight: 500;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.cards .details ul li:nth-child(2){
    color: var(--color4);
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.cards .details ul li:nth-child(3){
    color: #16da7e;
    font-weight: 400;
}
.cards .details ul li:nth-child(4){
    font-weight: 600;
}

