.InputBox{
    display: flex;
    background-color: var(--color2);
    height: 83vh;
    width: 80%;
    justify-self: center;
    margin-top: 2%;
    padding: 1.6%;
    gap: 1.6%;
    border-radius: 5px;
}
.box1{
    /* background-color: aqua; */
    width: 50%;
    height: 100%;
    border-radius: 5px;
    border: 3px solid var(--color1);
}
.box2{
    /* background-color: rgb(1, 54, 54); */
    width: 50%;
    height: 100%;
    border-radius: 5px;
    border: 3px solid var(--color1);
}
