.header{
    background-color: var(--color2);
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    letter-spacing: 8px;
    font-weight: 500;
    color: var(--color3);
}